# Python Virtual Environment
/.venv

*.env


# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/
.idea/

# Local database files
*.db
*.sqlite
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db